*
!*/

!/src/**
!/aoc.sh

!/build.gradle
!/settings.gradle
!/gradle/wrapper/gradle-wrapper.jar
!/gradle/wrapper/gradle-wrapper.properties
!/gradlew
!/gradlew.bat

!/.editorconfig
!/.gitattributes
!/.gitignore

!/.github/**/*.yaml
